.round-table-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  overflow-x: auto;
}

.round-table {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: auto;
}

.round-table__row-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0;
  font-weight: bold;
}

.round-table__username {
  font-size: x-large;
}

.round-table__track-name {
  font-weight: normal;
  color: #696969;
  font-size: small;
  word-break: break-all;
  max-width: 120px;
}

.round-table__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7px 0;
  border-bottom: 1px solid #f7f7f7;
}

.round-table__item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  padding: 5px 7px;
}

.round-table__item-rate {
  display: block;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background ease 0.3s;
}

.round-table__item-rate:hover {
  background-color: #ebebeb;
}

.round-table__category {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #696969;
}

.round-table__rate {
  display: inline-block;
  font-size: x-large;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.round-table__total-rates {
  font-size: small;
  color: #696969;
}

@media only screen and (max-width: 600px) {
  .round-table-block {
    width: 600px;
    overflow-x: auto;
    margin: 0 10px;
  }

  .round-table {
    width: 100%;
  }

  .round-table__row {
    padding: 3px 0;
  }

  .round-table__item {
    margin: 0 2px;
    padding: 2px 3px;
  }

  .round-table__username {
    font-size: 12px;
  }

  .round-table__track-name {
    font-size: 11px;
  }

  .round-table__category {
    width: 100px;
    font-size: 12px;
  }

  .round-table__rate {
    font-size: 12px;
    width: 15px;
    height: 15px;
  }

  .round-table__total-rates {
    font-size: 10px;
  }
}
